.header__link:hover {
  transition: .2s;
  opacity: 0.5;
}

.logo_place_header:hover {
  transition: .2s;
  opacity: 0.5;
}

.feynman__link:hover {
  transition: .2s;
  opacity: 0.5;
}

.khan__buy-link:hover {
  transition: .2s;
  opacity: 0.5;
}

.resources__logo:hover {
  transition: .2s;
  opacity: 0.5;
}

.logo_place_footer:hover {
  transition: .2s;
  opacity: 0.5;
}

.footer__column-link:hover {
  transition: .2s;
  opacity: 0.5;
}
